Summer_news_acquisition (1).json
{
  "name": "Summer_news_acquisition",
  "nodes": [
    {
      "parameters": {
        "url": "https://eodhd.com/api/news?s=AAPL.US&api_token=DEMO",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        180
      ],
      "id": "2a456677-d846-4903-9afb-f0f628a87b62",
      "name": "EODHD news api"
    },
    {
      "parameters": {
        "url": "https://eodhd.com/api/real-time/AAPL.US?s=VTI,TSLA,AMZN&api_token=DEMO&fmt=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        980
      ],
      "id": "2a97f5ea-d50c-4f3d-8323-d8a0e69842b8",
      "name": "EODHD tickers",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "181MNoDjybmhgiAmowlzQAMgE0TPkw7zTwVm2qLZSmaA",
          "mode": "list",
          "cachedResultName": "Summer test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/181MNoDjybmhgiAmowlzQAMgE0TPkw7zTwVm2qLZSmaA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/181MNoDjybmhgiAmowlzQAMgE0TPkw7zTwVm2qLZSmaA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Title": "={{ $json.title }}",
            "content": "={{ $json.content }}",
            "links": "={{ $json.link }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -40,
        -600
      ],
      "id": "c4338c6a-e78c-4fd5-a537-2a6da6d371aa",
      "name": "Summer news",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ztfuxQS3lG735n4",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1OFGkKC2MAGu8xDJFug39Rc2ymokTPZ6qGpDvSxeQsEc",
          "mode": "list",
          "cachedResultName": "Summer_fundamental",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OFGkKC2MAGu8xDJFug39Rc2ymokTPZ6qGpDvSxeQsEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OFGkKC2MAGu8xDJFug39Rc2ymokTPZ6qGpDvSxeQsEc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valuation": "={{ $json.Valuation }}",
            "highlight": "={{ $json.Highlights }}",
            "description": "={{ $json['General::Description'] }}",
            "name": "={{ $json['General::Name'] }}",
            "code": "={{ $json['General::Code'] }}"
          },
          "matchingColumns": [
            "code"
          ],
          "schema": [
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "highlight",
              "displayName": "highlight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valuation",
              "displayName": "valuation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -40,
        -340
      ],
      "id": "61c3eb4d-a476-4048-9605-e924dbcbad01",
      "name": "Summer fundamental",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ztfuxQS3lG735n4",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19G9Yp3kV1VVHYcE4rrqweeWV16WZfE8cmwJdjeXGUjU",
          "mode": "list",
          "cachedResultName": "Summer_ticker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19G9Yp3kV1VVHYcE4rrqweeWV16WZfE8cmwJdjeXGUjU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19G9Yp3kV1VVHYcE4rrqweeWV16WZfE8cmwJdjeXGUjU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "change_p": "={{ $json.change_p }}",
            "change": "={{ $json.change }}",
            "previousClose": "={{ $json.previousClose }}",
            "volume": "={{ $json.volume }}",
            "close": "={{ $json.close }}",
            "low": "={{ $json.low }}",
            "high": "={{ $json.high }}",
            "open": "={{ $json.open }}",
            "gmtoffset": "={{ $json.gmtoffset }}",
            "timestamp": "={{ $json.timestamp }}",
            "code": "={{ $json.code }}"
          },
          "matchingColumns": [
            "code"
          ],
          "schema": [
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmtoffset",
              "displayName": "gmtoffset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "open",
              "displayName": "open",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "high",
              "displayName": "high",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "low",
              "displayName": "low",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "close",
              "displayName": "close",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "volume",
              "displayName": "volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "previousClose",
              "displayName": "previousClose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change",
              "displayName": "change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_p",
              "displayName": "change_p",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -40,
        -80
      ],
      "id": "63099287-6246-4bf3-814f-114684e5318e",
      "name": "Summer tickers",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ztfuxQS3lG735n4",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "Summer_news",
        "updateKey": "link",
        "fields": "=date,\ntitle,\ncontent,\nlink,\nsymbols,\nsentiment,",
        "upsert": true,
        "options": {
          "dateFields": "=date:  {{ $json.date }}\ntitle: {{ $json.title }}\ncontent: {{ $json.content }}\nlink: {{ $json.link }}\nsymbols: {{ $json.symbols }}\nsentiment: {{ $json.sentiment }}"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1060,
        180
      ],
      "id": "14482ab4-ee60-4e25-ad67-de2d6c8298e4",
      "name": "news",
      "credentials": {
        "mongoDb": {
          "id": "3uG3pM869sj0VciO",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://eodhd.com/api/fundamentals/AAPL.US?filter=General::Code,General::Name,General::Description,Highlights,Valuation&api_token=demo&fmt=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        580
      ],
      "id": "617bb615-cc64-4c7d-bed0-fcc3e299dfba",
      "name": "AAPL fundamental"
    },
    {
      "parameters": {
        "url": "https://eodhd.com/api/fundamentals/VTI.US?filter=General::Code,General::Name,General::Description,Highlights,Valuation&api_token=demo&fmt=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        380
      ],
      "id": "ddff193d-6140-4f36-8e11-4d72956ecf3d",
      "name": "VTI fundamental"
    },
    {
      "parameters": {
        "url": "https://eodhd.com/api/fundamentals/TSLA.US?filter=General::Code,General::Name,General::Description,Highlights,Valuation&api_token=demo&fmt=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        780
      ],
      "id": "9dbaba0a-d0ed-4456-a9f0-16d40f7b64be",
      "name": "TSLA fundamental"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "Summer_fundamental",
        "updateKey": "General::Code",
        "fields": "=General::Code,\nGeneral::Name,\nGeneral::Description,\nHighlights,\nValuation",
        "upsert": true,
        "options": {
          "dateFields": "=General::Code: {{ $json['General::Code'] }}\nGeneral::Name: {{ $json['General::Name'] }}\nGeneral::Description: {{ $json['General::Description'] }} Highlights: {{ $json.Highlights }} \nValuation: {{ $json.Valuation }}"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1060,
        580
      ],
      "id": "a47f2b1d-758c-4ffb-ad0b-ef51ede09a29",
      "name": "fundamental",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "3uG3pM869sj0VciO",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "Summer_ticker",
        "updateKey": "symbol_date_id",
        "fields": "=symbol_date_id,\nsymbol,\ndate,\nopen,\nhigh,\nlow,\nclose,\nvolume",
        "upsert": true,
        "options": {
          "dateFields": "=symbol_date_id: {{ $json.symbol_date_id }}\nsymbol: {{ $json.symbol }}\ndate: {{ $json.date }}\nopen: {{ $json.open }}\nhigh: {{ $json.high }}\nlow: {{ $json.low }}\nclose: {{ $json.close }}\nvolume: {{ $json.volume }}"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1560,
        1180
      ],
      "id": "cacf4a5b-63ba-4438-a966-a47b5331e7a5",
      "name": "ticker",
      "credentials": {
        "mongoDb": {
          "id": "3uG3pM869sj0VciO",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={{ $json.symbols }}&apikey=3H88HCVQAP9QW3P5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1180
      ],
      "id": "51643923-244c-4013-8202-6fda41a0c705",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        580
      ],
      "id": "442b0e7f-1ce6-48a3-8597-3ebbd2ae7822",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb0445e2-d1ac-4b6a-a807-97775bc947f0",
              "name": "symbols",
              "value": "[\"AAPL\", \"GOOGL\", \"NVDA\", \"MSFT\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        1180
      ],
      "id": "9e09c21d-9ca4-4c0a-a853-368c22e714ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "symbols",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        600,
        1180
      ],
      "id": "aef3fa21-9a82-4e9c-a94f-c2ccf7a02d65",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "Summer_ticker",
        "updateKey": "=code",
        "fields": "=code",
        "upsert": true,
        "options": {
          "dateFields": "="
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1060,
        980
      ],
      "id": "f2e91123-984a-4c5e-ac78-4819e1fbcd5d",
      "name": "ticker1",
      "credentials": {
        "mongoDb": {
          "id": "3uG3pM869sj0VciO",
          "name": "MongoDB account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// This function transforms the stock data JSON, focusing only on the 7 most recent time series entries.\n// It now includes the original date and symbol fields, plus the merged symbol_date_id field,\n// along with stock data.\nfunction transformStockData(jsonData) {\n  const transformedData = [];\n  const timeSeries = jsonData[\"Time Series (Daily)\"];\n  const symbol = jsonData[\"Meta Data\"][\"2. Symbol\"]; // Get the symbol from Meta Data\n\n  // Get all dates from the time series and sort them in descending order (most recent first)\n  const dates = Object.keys(timeSeries).sort((a, b) => new Date(b) - new Date(a));\n\n  // Take only the 7 most recent dates\n  const recentDates = dates.slice(0, 7);\n\n  // Iterate over only the 7 most recent dates\n  for (const date of recentDates) {\n    const dailyData = timeSeries[date];\n    transformedData.push({\n      date: date, // Keeping the original date field\n      symbol: symbol, // Keeping the original symbol field\n      // New merged field: combines symbol and date for a unique identifier\n      symbol_date_id: `${symbol}_${date}`,\n      open: parseFloat(dailyData[\"1. open\"]),\n      high: parseFloat(dailyData[\"2. high\"]),\n      low: parseFloat(dailyData[\"3. low\"]),\n      close: parseFloat(dailyData[\"4. close\"]),\n      volume: parseInt(dailyData[\"5. volume\"])\n    });\n  }\n  return transformedData;\n}\n\n// n8n Function node typically receives data in the 'items' array.\n// We assume the JSON data is in the first item's 'json' property.\nconst inputData = items[0].json;\n\n// Transform the time series data, now limited to 7 most recent dates and including all fields\nconst newObjects = transformStockData(inputData);\n\n// Prepare the output for n8n.\n// Only the transformed time series data will be returned as individual items.\nconst outputItems = [];\n\n// Add each transformed time series object as a separate item\nnewObjects.forEach(obj => {\n  outputItems.push({ json: obj });\n});\n\n// Return the combined array of items.\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1180
      ],
      "id": "544b2ff8-dbf0-4025-9212-3d13df3152cc",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "EODHD news api": {
      "main": [
        [
          {
            "node": "news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EODHD tickers": {
      "main": [
        [
          {
            "node": "ticker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summer fundamental": {
      "main": [
        []
      ]
    },
    "Summer news": {
      "main": [
        []
      ]
    },
    "news": {
      "main": [
        []
      ]
    },
    "AAPL fundamental": {
      "main": [
        [
          {
            "node": "fundamental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VTI fundamental": {
      "main": [
        [
          {
            "node": "fundamental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TSLA fundamental": {
      "main": [
        [
          {
            "node": "fundamental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summer tickers": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "EODHD news api",
            "type": "main",
            "index": 0
          },
          {
            "node": "VTI fundamental",
            "type": "main",
            "index": 0
          },
          {
            "node": "AAPL fundamental",
            "type": "main",
            "index": 0
          },
          {
            "node": "TSLA fundamental",
            "type": "main",
            "index": 0
          },
          {
            "node": "EODHD tickers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f73b5830-a915-4354-9a52-534e8d9224ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09f92901e633699a8e0a2e993344bdd921600a6b03619b8cab1c98e2aff659a7"
  },
  "id": "ea4oSxBTQvZdjLBe",
  "tags": []
}